<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Michael Gentilini">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <title>Welcome to Burger Town</title>
</head>


<body>
  <div class="container mt-4">
    <div class="card">
      {{{body}}}
    </div>
  </div>

  <div class="container mt-4">
    <div class="card text-center">
      <div class="form-group">
        <h2 for="newBurger"> Add a Burger</h2>
        <div class="form-row mt-2 mb-2">
          <div class="col-1"></div>
          <div class="col-8 col-sm-6">
            <input type="text" name="newBurger" id="newBurger" class="form-control" placeholder="Yummy Burger Name">
          </div>
          <div class="col">
            <button class="btn-block btn-success mt-1" id="submitBurger" name="submitBurger" type="submit"><i
                class="fas fa-hamburger"></i>&nbsp;&nbsp;&nbsp;
              &nbsp; Add a Burger</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>


</body>

</html>